     <style>
    body{
        margin:0;
        padding:0;
        background: #ccc;
        font-family: sans-serif;
    }
    .product{
        position:relative;
        margin-bottom:30px;
        margin-left:55px;
        width:240px;
        height:320px;
        background: #fff;
        box-shadow: 0 5px 15px rgba(0,0,0,.25);
        border-radius: 5px;
        overflow: hidden;
    }
    .product .imgbox{
        height:100%;
        box-sizing: border-box;
    }
    .product .imgbox img{
        display:block;
        width:90%;
        margin:20px auto 0;
        
    }
    .details{
        position: absolute;
        width:100%;
         bottom:-150px; 
        background: #fff;
        padding:10px;
        box-sizing: border-box;
         box-shadow: 0 0 0 rgba (0,0,0,0); 
        transition:.5s;
      
    }
    .details h2{
        margin:0;
        padding:0;
        font-size: 16px;
        width:100%;
        
    }
    .product:hover .details{
        bottom:0;
        box-shadow:0 -5px 15px rgba(0,0,0,.25);
    }
    .details h2 span{
        font-size:12px;
        color:rgb(177, 171, 171);
        font-weight:normal;
    }
    .details .price{
        position:absolute;
        top:10px;
        right:20px;
        font-weight: bold;
        color:#cf1c52;
        font-size:20px;
    }
    label{
        display: block;
        margin-top:5px;
        font-weight:bold;
        font-size:14px;
    }
    ul{
        display:flex;
        margin:0;
        padding:0;
    }
    ul li{
        list-style-type: none;
        margin:5px 5px 0;
        font-size:12px;
        font-weight: normal;
        color:rgb(177, 171, 171);
        cursor:pointer;
    }
    ul li:first-child{
        margin-left: 0;
    }
    ul.colors li {
        width:16px;
        height:16px;

    }
    ul.colors li:nth-child(1){
        background:rgb(243, 243, 58);
    }
    ul.colors li:nth-child(2){
        background:rgb(240, 58, 58);
    }
    ul.colors li:nth-child(3){
        background:rgb(235, 126, 235);
    }
    ul.colors li:nth-child(4){
        background:rgb(121, 245, 245);
    }
    ul.colors li:nth-child(5){
        background:rgb(44, 44, 236);
    }
    a{
        display:block;
        padding:5px;
        color:#fff;
        margin:15px 0 0;
        background:#ccc;
        text-align: center;
        text-decoration: none;
        transition:.3s;
        cursor:pointer;
    }
    a:hover{
        background:#ff4faf;
        color:#fff;
    }
   #bge{
         position:absolute;
         top:0;
         width:100%;
         height: 100vh;
         mix-blend-mode: hue;
        }

    </style>

 <div class="row">
   <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
       <div id="success" class='alert alert-success' {{# if noMessage}}hidden{{/if}}>
       {{ successMsg }}
       </div>
   </div>
 </div>

{{# each products }} 

<div class="row"> 
{{# each this }} 
      
    <div class="col-sm-6 col-md-4">
        <div class="product">
        <div class="imgbox">
            
            <img src="{{ this.imagePath }}">
            <div id="bge"></div>
        </div>
        <div class="details">
            <h2>{{ this.title }}<br><span>{{ this.description }}</span></h2>
            <div class="price">
                ${{ this.price }}
            </div>
            <label>Sizes</label>
            <ul>
                <li>XS</li>
                <li>S</li>
                <li>M</li>
                <li>XL</li>
                <li>XXL</li>
            </ul>
            <label>Colors</label>
            <ul class="colors">
                <li id="yellow"></li>
                <li id="red"></li>
                <li id="pink"></li>
                <li id="blue"></li>
                <li id="dark"></li>
            </ul>
            <a href="/add-to-cart/{{ this._id }}">Add To Cart</a> 
        </div>
            
        </div>
    </div>

 
    {{/ each}}
   
   </div>   
   
{{/ each}} 
 <script type="text/javascript">
            const yellow = document.getElementById("yellow");
            const red = document.getElementById("red");
            const pink = document.getElementById("pink");
            const blue = document.getElementById("blue");
            const dark = document.getElementById("dark");

            const bge = document.getElementById("bge");

            yellow.addEventListener("click",() =>{
                 bge.style.backgroundColor = 'rgb(243, 243, 58)';
             })
              red.addEventListener("click",() =>{
                 bge.style.backgroundColor = 'rgb(240, 58, 58)';
             })
              pink.addEventListener("click",() =>{
                 bge.style.backgroundColor = 'rgb(235, 126, 235)';
             })
              blue.addEventListener("click",() =>{
                 bge.style.backgroundColor = 'rgb(121, 245, 245)';
             })
              dark.addEventListener("click",() =>{
                 bge.style.backgroundColor = 'rgb(44, 44, 236)';
             })
             
        
        </script>
        
